##### Libraries

In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

# ---------------------------------------------------------------------------------------------------------------

# TASK 1

## Dataset with suitable features

In [2]:
# Data
df = pd.read_csv("criminal_san_francisco.csv",parse_dates=["Dates"])
df[:5]

,Unnamed: 0.1,Unnamed: 0,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,X,Y
0,0,0,2010-10-18 13:37:00,ASSAULT,BATTERY,Monday,SOUTHERN,NONE,-122.407376,37.779989
1,1,1,2013-01-11 03:21:00,ASSAULT,AGGRAVATED ASSAULT WITH A DEADLY WEAPON,Friday,TENDERLOIN,NONE,-122.412437,37.783486
2,2,2,2004-03-31 15:00:00,ASSAULT,BATTERY,Wednesday,INGLESIDE,JUVENILE ADMONISHED,-122.451164,37.745564
3,3,3,2005-02-27 22:33:00,ASSAULT,THREATS AGAINST LIFE,Sunday,INGLESIDE,NONE,-122.428614,37.722765
4,4,4,2013-06-30 17:39:00,ASSAULT,BATTERY,Sunday,MISSION,NONE,-122.418449,37.753027

In [3]:
# droping unneccessary columns...
df = df.drop(["Descript","Unnamed: 0.1","Unnamed: 0","X","Y"] ,axis=1)

In [4]:
df

,Dates,Category,DayOfWeek,PdDistrict,Resolution
0,2010-10-18 13:37:00,ASSAULT,Monday,SOUTHERN,NONE
1,2013-01-11 03:21:00,ASSAULT,Friday,TENDERLOIN,NONE
2,2004-03-31 15:00:00,ASSAULT,Wednesday,INGLESIDE,JUVENILE ADMONISHED
3,2005-02-27 22:33:00,ASSAULT,Sunday,INGLESIDE,NONE
4,2013-06-30 17:39:00,ASSAULT,Sunday,MISSION,NONE
...,...,...,...,...,...
89995,2005-05-21 17:55:00,WARRANTS,Saturday,TARAVAL,"ARREST, BOOKED"
89996,2006-06-13 14:14:00,WARRANTS,Tuesday,CENTRAL,"ARREST, BOOKED"
89997,2004-12-08 20:20:00,WARRANTS,Wednesday,INGLESIDE,"ARREST, BOOKED"
89998,2009-11-11 07:40:00,WARRANTS,Wednesday,MISSION,"ARREST, BOOKED"
89999,2005-11-01 12:00:00,WARRANTS,Tuesday,PARK,"ARREST, BOOKED"

In [5]:
# information of all columns with datatypes of the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90000 entries, 0 to 89999
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Dates       90000 non-null  datetime64[ns]
 1   Category    90000 non-null  object
 2   DayOfWeek   90000 non-null  object
 3   PdDistrict  90000 non-null  object
 4   Resolution  90000 non-null  object
dtypes: datetime64[ns](1), object(4)
memory usage: 3.4+ MB

In [6]:
# description of all columns with datatypes of the dataset
df.describe().T

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_228\4106571329.py:2: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df.describe().T

,count,unique,top,freq,first,last
Dates,90000,76628,2007-06-01 00:01:00,10,2003-01-06 00:55:00,2015-05-13 23:53:00
Category,90000,9,ASSAULT,10000,NaT,NaT
DayOfWeek,90000,7,Friday,13645,NaT,NaT
PdDistrict,90000,10,SOUTHERN,14660,NaT,NaT
Resolution,90000,17,NONE,54100,NaT,NaT

In [7]:
#df["Descript"].unique()

In [8]:
df['Dates'] = pd.to_datetime(df['Dates'])

In [9]:
df.dtypes

Dates         datetime64[ns]
Category              object
DayOfWeek             object
PdDistrict            object
Resolution            object
dtype: object

In [10]:
# df['Dates'] = np.where(df.index.get_level_values(0).isin(df["Dates"]), 1, 0)
# df

In [11]:
#df = pd.DataFrame({"Dates": ['Year', 'Month', 'Day']})

In [12]:
#pd.get_dummies(df["df"])

In [13]:
# df["Dates"] dummies...

d = pd.to_datetime(df["Dates"])
df["Year"] = d.dt.year
df["Month"] = d.dt.month
df["DayOfWeek"] = d.dt.day
df.drop(columns=["Dates"],inplace=True)

In [14]:
df["Resolution"].unique()

array(['NONE', 'JUVENILE ADMONISHED',
       'DISTRICT ATTORNEY REFUSES TO PROSECUTE',
       'CLEARED-CONTACT JUVENILE FOR MORE INFO', 'ARREST, BOOKED',
       'ARREST, CITED', 'JUVENILE CITED',
       'COMPLAINANT REFUSES TO PROSECUTE', 'JUVENILE BOOKED', 'UNFOUNDED',
       'EXCEPTIONAL CLEARANCE', 'PSYCHOPATHIC CASE',
       'PROSECUTED BY OUTSIDE AGENCY', 'NOT PROSECUTED',
       'PROSECUTED FOR LESSER OFFENSE', 'LOCATED', 'JUVENILE DIVERTED'],
      dtype=object)

In [15]:
dff=pd.get_dummies(df["Resolution"])
dff

,"ARREST, BOOKED","ARREST, CITED",CLEARED-CONTACT JUVENILE FOR MORE INFO,COMPLAINANT REFUSES TO PROSECUTE,DISTRICT ATTORNEY REFUSES TO PROSECUTE,EXCEPTIONAL CLEARANCE,JUVENILE ADMONISHED,JUVENILE BOOKED,JUVENILE CITED,JUVENILE DIVERTED,LOCATED,NONE,NOT PROSECUTED,PROSECUTED BY OUTSIDE AGENCY,PROSECUTED FOR LESSER OFFENSE,PSYCHOPATHIC CASE,UNFOUNDED
0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
2,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89995,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
89996,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
89997,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
89998,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
89999,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [16]:
# Concat
df1 = pd.concat([df,dff],axis = "columns")

In [17]:
df1

,Category,DayOfWeek,PdDistrict,Resolution,Year,Month,"ARREST, BOOKED","ARREST, CITED",CLEARED-CONTACT JUVENILE FOR MORE INFO,COMPLAINANT REFUSES TO PROSECUTE,...,JUVENILE BOOKED,JUVENILE CITED,JUVENILE DIVERTED,LOCATED,NONE,NOT PROSECUTED,PROSECUTED BY OUTSIDE AGENCY,PROSECUTED FOR LESSER OFFENSE,PSYCHOPATHIC CASE,UNFOUNDED
0,ASSAULT,18,SOUTHERN,NONE,2010,10,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,ASSAULT,11,TENDERLOIN,NONE,2013,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,ASSAULT,31,INGLESIDE,JUVENILE ADMONISHED,2004,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,ASSAULT,27,INGLESIDE,NONE,2005,2,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,ASSAULT,30,MISSION,NONE,2013,6,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89995,WARRANTS,21,TARAVAL,"ARREST, BOOKED",2005,5,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
89996,WARRANTS,13,CENTRAL,"ARREST, BOOKED",2006,6,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
89997,WARRANTS,8,INGLESIDE,"ARREST, BOOKED",2004,12,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
89998,WARRANTS,11,MISSION,"ARREST, BOOKED",2009,11,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
89999,WARRANTS,1,PARK,"ARREST, BOOKED",2005,11,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
df1 = df1.drop("Resolution",axis = 1)

In [19]:
df1

,Category,DayOfWeek,PdDistrict,Year,Month,"ARREST, BOOKED","ARREST, CITED",CLEARED-CONTACT JUVENILE FOR MORE INFO,COMPLAINANT REFUSES TO PROSECUTE,DISTRICT ATTORNEY REFUSES TO PROSECUTE,...,JUVENILE BOOKED,JUVENILE CITED,JUVENILE DIVERTED,LOCATED,NONE,NOT PROSECUTED,PROSECUTED BY OUTSIDE AGENCY,PROSECUTED FOR LESSER OFFENSE,PSYCHOPATHIC CASE,UNFOUNDED
0,ASSAULT,18,SOUTHERN,2010,10,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,ASSAULT,11,TENDERLOIN,2013,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,ASSAULT,31,INGLESIDE,2004,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,ASSAULT,27,INGLESIDE,2005,2,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,ASSAULT,30,MISSION,2013,6,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89995,WARRANTS,21,TARAVAL,2005,5,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
89996,WARRANTS,13,CENTRAL,2006,6,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
89997,WARRANTS,8,INGLESIDE,2004,12,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
89998,WARRANTS,11,MISSION,2009,11,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
89999,WARRANTS,1,PARK,2005,11,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [31]:
df1["PdDistrict"].unique()

array(['SOUTHERN', 'TENDERLOIN', 'INGLESIDE', 'MISSION', 'NORTHERN',
       'PARK', 'RICHMOND', 'BAYVIEW', 'TARAVAL', 'CENTRAL'], dtype=object)

# ---------------------------------------------------------------------------------------------------------------

# TASK 2

## Train Model with Standard Hyperparameters

In [25]:
from sklearn.model_selection import train_test_split

In [21]:
X = df1.drop("Category", axis=1)
y = df1["Category"]

In [22]:
print(y.value_counts())

ASSAULT           10000
DRUG/NARCOTIC     10000
LARCENY/THEFT     10000
MISSING PERSON    10000
ROBBERY           10000
SUSPICIOUS OCC    10000
VANDALISM         10000
VEHICLE THEFT     10000
WARRANTS          10000
Name: Category, dtype: int64

In [26]:
# split data
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    test_size=0.10,
                                                    random_state=0)

In [27]:
print(y_test.value_counts())

WARRANTS          1035
ROBBERY           1007
DRUG/NARCOTIC     1006
MISSING PERSON    1001
VEHICLE THEFT      999
ASSAULT            996
VANDALISM          993
SUSPICIOUS OCC     983
LARCENY/THEFT      980
Name: Category, dtype: int64

In [29]:
from sklearn import tree

In [30]:
dtc = tree.DecisionTreeClassifier().fit(X_train, y_train)

ValueError: could not convert string to float: 'BAYVIEW'

In [ ]:
print(dtc.score(X_test, y_test))